APP_NAME=TaxMaxx Backend
APP_ENV=development
APP_DEBUG=true

MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=hackai_tax_assistant
MONGODB_COLLECTION_SESSIONS=tax_sessions
MONGODB_COLLECTION_BOXDATA=box_data

USE_MOCK_PARSER_BY_DEFAULT=true
STANDARD_DEDUCTION_SINGLE=14600
PARSER_TIMEOUT_SECONDS=120

GEMINI_ENABLED=false
GEMINI_API_KEY=
GEMINI_MODEL_NAME=gemini-2.5-flash

AZURE_KEY=
AZURE_ENDPOINT=
